adagio==0.2.4
aiofiles==23.2.1
aiosignal==1.3.1
alembic==1.13.0
altair==5.2.0
ansi2html==1.8.0
antlr4-python3-runtime==4.11.1
anyio @ file:///C:/ci/anyio_1644481856696/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644569876605/work
arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
binaryornot==0.4.4
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
boto3==1.33.11
botocore==1.33.11
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
catboost==1.2.2
category-encoders==2.6.3
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloudpickle==2.2.1
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
colorlog==6.8.0
colour==0.1.5
comm @ file:///C:/b/abs_1419earm7u/croot/comm_1671231131638/work
contourpy==1.2.0
cookiecutter==2.5.0
cryptography @ file:///C:/b/abs_e8cnom_zw_/croot/cryptography_1702071486468/work
cycler==0.12.1
Cython==3.0.6
daal==2024.0.1
daal4py==2024.0.1
dacite==1.8.1
dash==2.14.2
dash-auth==2.0.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dask==2023.7.0
databricks-cli==0.18.0
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.7
distributed==2023.7.0
docker==6.1.3
dtreeviz==2.2.2
entrypoints==0.4
evidently==0.2.8
exceptiongroup @ file:///C:/b/abs_25wqfvkf25/croot/exceptiongroup_1668714345637/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
explainerdashboard==0.4.3
fairlearn==0.7.0
fastapi==0.104.1
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
ffmpy==0.3.1
filelock==3.13.1
Flask==2.2.3
flask-simplelogin==0.1.2
Flask-WTF==1.2.1
fonttools==4.46.0
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.12.1
fugue==0.8.6
fugue-sql-antlr==0.2.0
future==0.18.3
gevent==23.9.1
gitdb==4.0.11
GitPython==3.1.40
gradio==3.50.2
gradio_client==0.6.1
graphviz==0.20.1
greenlet==3.0.2
h11==0.14.0
htmlmin==0.1.12
httpcore==1.0.2
httpx==0.25.2
huggingface-hub==0.19.4
hyperopt==0.2.7
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
ImageHash==4.3.1
imageio==2.33.1
imbalanced-learn==0.11.0
importlib-metadata==5.2.0
importlib-resources==6.1.1
iniconfig==2.0.0
interpret==0.4.4
interpret-core==0.4.4
ipykernel @ file:///C:/b/abs_07rkft_vaz/croot/ipykernel_1691121700587/work
ipython @ file:///C:/b/abs_e5729i179y/croot/ipython_1694181400005/work
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi @ file:///C:/ci/jedi_1644315428305/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jmespath==1.0.1
joblib==1.3.2
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications==2023.11.2
jupyter-dash==0.4.2
jupyter-events @ file:///C:/b/abs_17ajfqnlz0/croot/jupyter_events_1699282519713/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client @ file:///C:/b/abs_a6h3c8hfdq/croot/jupyter_client_1699455939372/work
jupyter_core @ file:///C:/b/abs_c769pbqg9b/croot/jupyter_core_1698937367513/work
jupyter_server @ file:///C:/b/abs_7esjvdakg9/croot/jupyter_server_1699466495151/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/b/abs_aergn8zopq/croot/jupyterlab_1700518316761/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==3.0.9
jupyterlab_server @ file:///C:/b/abs_e08i7qn9m8/croot/jupyterlab_server_1699555481806/work
kaleido==0.2.1
kiwisolver==1.4.5
kmodes==0.12.2
lazy_loader==0.3
lightgbm==4.1.0
lime==0.2.0.1
llvmlite==0.41.1
locket==1.0.0
lxml==4.9.3
m2cgen==0.10.0
Mako==1.3.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.6.0
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mdurl==0.1.2
mistune @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_081kimkskf/croots/recipe/mistune_1661496225923/work
mlflow==2.10.2
mlxtend==0.23.0
moto==4.2.11
msgpack==1.0.7
multimethod==1.10
multiprocess==0.70.15
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert @ file:///C:/b/abs_17p29f_rx4/croot/nbconvert_1699022793097/work
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
networkx==3.2.1
nltk==3.8.1
notebook @ file:///C:/b/abs_26737osg4x/croot/notebook_1700582146311/work
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
optuna==3.5.0
orjson==3.9.10
outcome==1.3.0.post0
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
oyaml==1.0
packaging==21.3
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.1
patsy==0.5.4
percy==2.0.2
phik==0.12.3
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==10.1.0
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly==5.18.0
plotly-resampler==0.9.1
pluggy==1.3.0
pmdarima==2.0.4
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
prometheus-flask-exporter==0.23.0
prompt-toolkit==3.0.41
protobuf==4.25.1
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py4j==0.10.9.7
pyaml==23.9.7
pyarrow==6.0.1
pycaret==3.2.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.13
pydub==0.25.1
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
PyJWT==2.8.0
pynndescent==0.5.11
pyod==1.1.2
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing==3.1.1
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pytest==7.4.3
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
python-multipart==0.0.6
python-slugify==8.0.1
pytz==2022.7.1
PyWavelets==1.5.0
pywin32==305.1
pywinpty @ file:///C:/b/abs_73vshmevwq/croot/pywinpty_1677609966356/work/target/wheels/pywinpty-2.0.10-cp310-none-win_amd64.whl
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///C:/b/abs_655zk4a3s8/croot/pyzmq_1686601465034/work
qpd==0.4.4
querystring-parser==1.2.4
ray==2.8.1
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex==2023.10.3
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
responses==0.24.1
retrying==1.3.4
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==13.7.0
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
s3transfer==0.8.2
SALib==1.4.7
schemdraw==0.15
scikit-base==0.5.2
scikit-image==0.22.0
scikit-learn==1.2.2
scikit-learn-intelex==2024.0.1
scikit-optimize==0.9.0
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.12.2
selenium==4.2.0
semantic-version==2.10.0
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
shap==0.44.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
skope-rules==1.0.1
sktime==0.21.1
slicer==0.0.7
smmap==5.0.1
sniffio @ file:///C:/ci_310/sniffio_1642092172680/work
sortedcontainers==2.4.0
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
SQLAlchemy==1.4.50
sqlglot==20.1.0
sqlparse==0.4.4
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.27.0
statsforecast==1.5.0
statsmodels==0.14.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tbb==2021.11.0
tblib==3.0.0
tenacity==8.2.3
tensorboardX==2.6.2.2
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2023.12.9
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
toolz==0.12.0
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm==4.66.1
trace-updater==0.0.9.1
traitlets==5.14.0
treeinterpreter==0.2.3
triad==0.9.1
trio==0.23.1
trio-websocket==0.11.1
tsdownsample==0.1.2
tune-sklearn==0.5.0
typeguard==4.1.5
types-python-dateutil==2.8.19.14
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
umap-learn==0.5.5
urllib3 @ file:///C:/b/abs_9cmlsrm3ys/croot/urllib3_1698257595508/work
urllib3-secure-extra==0.1.0
uvicorn==0.24.0.post1
visions==0.7.5
waitress==2.1.2
wcwidth==0.2.12
webencodings==0.5.1
websocket-client @ file:///C:/ci_310/websocket-client_1642093970919/work
websockets==11.0.3
Werkzeug==2.3.8
widgetsnbextension==4.0.9
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.1
xgboost==2.0.2
xmltodict==0.13.0
xxhash==3.4.1
ydata-profiling==4.6.0
yellowbrick==1.5
zict==3.0.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
